@import url(http://fonts.googleapis.com/css?family=Lato);
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  font-family: Lato, sans-serif;
  background: #fff;
  color: #222; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.wall:after {
  display: block;
  content: "";
  clear: both; }

.wall-section {
  position: absolute;
  top: 0;
  bottom: 0%;
  overflow-x: hidden;
  overflow-y: auto; }

.wall-profiles {
  left: 0;
  right: 40%;
  list-style-type: none; }

.wall-profile-entry {
  float: left;
  width: 128px;
  height: 128px;
  opacity: 0.7;
  border: 1px solid #fff;
  transition: opacity 0.5s; }
  .wall-profile-entry.active, .wall-profile-entry:hover {
    opacity: 1; }

.wall-details {
  right: 0;
  left: 60%;
  background: #eee url('/img/pattern.png');
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.1); }
  .wall-details h1 {
    text-align: center;
    font-size: 42px;
    margin: 40px 0; }
  .wall-details .profile-photo {
    display: block;
    margin: 40px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.btn {
  background: #006567;
  color: #fff;
  border: 1px solid #004c4e;
  border-radius: 4px;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  word-spacing: 2px; }
  .btn:hover {
    background: #004c4e;
    cursor: pointer; }
  .btn:focus {
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px; }

.btn.action {
  font-size: 22.652px;
  padding: 20px 40px; }

#qr {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
