@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  font-family: Lato, sans-serif;
  background: #eee url('/img/pattern.png');
  color: #222; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.wall {
  background: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: auto; }
  .wall:after {
    display: block;
    content: "";
    clear: both; }

.wall-content {
  position: relative;
  width: 100%;
  height: 100%; }

.wall-profiles {
  list-style-type: none; }

.wall-profile-entry {
  float: left;
  width: 128px;
  height: 128px;
  opacity: 0.7;
  border: 1px solid #fff;
  transition: opacity 0.5s; }
  .wall-profile-entry.active, .wall-profile-entry:hover {
    opacity: 1; }

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none; }
  #overlay.active {
    opacity: 1;
    pointer-events: auto; }

.wall-details {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  z-index: 999;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  overflow: auto;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none; }
  .wall-details:after {
    clear: both;
    content: '';
    display: block; }
  .wall-details.active {
    opacity: 1;
    pointer-events: auto; }
  .wall-details h1 {
    text-align: center;
    font-size: 42px;
    margin: 40px 0; }
  .wall-details h2 {
    font-size: 22.652px;
    font-weight: bold;
    margin: 10px 0 20px; }
  .wall-details .profile-photo {
    display: block;
    margin: 40px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    width: 256px;
    height: 256px; }
  .wall-details .content-line {
    width: 95%;
    display: block;
    font-size: 22.652px;
    line-height: 29.124px;
    margin: 0 auto 40px; }
    .wall-details .content-line strong {
      font-weight: bold;
      font-size: 29.124px;
      margin: 0 10px 0 0; }
    .wall-details .content-line ul {
      list-style-type: square;
      margin-left: 30px; }
      .wall-details .content-line ul li {
        margin: 5px 0; }
    .wall-details .content-line a {
      text-decoration: none;
      color: #006567; }
      .wall-details .content-line a:hover {
        text-decoration: underline;
        color: #004c4e; }
  .wall-details .close {
    float: left;
    position: fixed;
    margin: 0 0 0 10px;
    font-size: 42px;
    color: #006567;
    text-decoration: none;
    background: transparent;
    transition: font-size 100ms; }
    .wall-details .close:hover {
      color: #004c4e;
      font-size: 47px; }
  .wall-details .col {
    margin-top: 20px; }
    .wall-details .col.photo {
      float: left;
      width: 340px; }
    .wall-details .col.info {
      overflow: hidden;
      width: auto; }

@media (max-width: 420px) {
  .wall-details .close {
    display: block;
    position: static;
    float: none;
    transition: none; }
    .wall-details .close:hover {
      font-size: 42px; }
  .wall-details h1 {
    margin: 10px 0 20px;
    font-size: 22.652px; }
  .wall-details .profile-photo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 128px;
    height: 128px; }
 }

.welcome h1 {
  text-align: center;
  font-size: 22.652px;
  color: #006567;
  margin: 20px 0; }
.welcome p {
  text-align: center; }
.welcome a {
  color: #006567; }
  .welcome a:hover {
    color: #004c4e;
    text-decoration: none; }

.btn {
  background: #006567;
  color: #fff;
  border: 1px solid #004c4e;
  border-radius: 4px;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  word-spacing: 2px; }
  .btn:hover {
    background: #004c4e;
    cursor: pointer; }
  .btn:focus {
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px; }

.btn.action {
  font-size: 22.652px;
  padding: 20px 40px; }

.intro-switch {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 120px;
  height: 30px;
  background: #ccc; }
  .intro-switch:after {
    padding-top: 9px;
    display: block;
    text-align: center;
    color: #fff;
    content: "Introductions OFF";
    color: #222; }
  .intro-switch.active {
    background: #006567; }
    .intro-switch.active:after {
      padding-top: 9px;
      display: block;
      text-align: center;
      color: #fff;
      content: "Introductions ON"; }
  .intro-switch:hover {
    cursor: pointer; }

.qr-wrapper {
  position: fixed;
  padding: 10px 20px;
  bottom: 0;
  right: 0;
  z-index: 50;
  background: #fff;
  border: 1px solid #eee; }

#qr {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.qr-title {
  font-size: 14px;
  text-align: center;
  margin: 8px 0;
  font-family: 'Press Start 2P', Lato, sans-serif;
  color: #004c4e; }
  .qr-title.intro {
    font-size: 17px;
    margin-bottom: 5px;
    letter-spacing: 1px; }

@media (max-width: 420px) {
  .qr-wrapper {
    display: none; }
 }
