body {
  font-size: $font-m;
  font-family: $font-family;
  background: #eee url('/img/pattern.png');
  color: $col-black;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hidden {
  display: none;
}
