 @mixin breakpoint($point) {
   @if $point == mobile {
     @media (max-width: $breakpoint-mobile) { @content ; }
  }
   @else if $point == tablet {
     @media (max-width: $breakpoint-tablet) { @content ; }
  }
}

@mixin after-clear {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin opacity-toggle {
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}
