extends ../layout

block js
  script(src='/components/jquery/dist/jquery.min.js')
  script(src='/components/angular/angular.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/vendor/qrcode.js')
  script.
    var socket = io();

block content
  div(ng-cloak ng-app='xingwall' xingwall=wall_id)
    #overlay(ng-click='setCurrentProfile($event, false)' ng-class='{active: currentProfile}')

    .qr-wrapper
      .qr-title.intro Connect
      #qr
      .qr-title with XING

    section.wall-details(ng-class='{active: currentProfile}')
      a.close(href="#" ng-click='setCurrentProfile($event, false)') &times;
      h1= "{{currentProfile.displayName}}"
      img.profile-photo(ng-src="{{currentProfile.photoUrls.size_256x256}}")

    .wall
      .wall-content
        section.wall-profiles
          ul
            li(ng-repeat='profile in profiles')
              a.wall-profile-entry(href='#' ng-click='setCurrentProfile($event, profile)' ng-class='{ active: profile.isActive }')
                img(ng-src="{{profile.photoUrls.size_128x128}}")


block footer_js
  script(src='/js/grid.js')
  script(src='/js/client.js')
  script(src='/js/qr.js')
  script(src='/js/keys.js')
