extends ../layout

block content
  .welcome
    h1 Successfully connected
    p You are now connected to wall #{wall.name}
    p
      a(href='/walls/'+wall.id+'/disconnect') Remove yourself from the wall
