$_detail_offset_x: 10%;
$_detail_offset_y: 10%;
$_detail_width: 600px;

.wall-details {
  position: absolute;
  top: $_detail_offset_y;
  bottom: $_detail_offset_y;
  left: $_detail_offset_x;
  right: $_detail_offset_x;
  z-index: 999;
  background: $col-white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  overflow: auto;

  @include after-clear;
  @include opacity-toggle;

  h1 {
    text-align: center;
    font-size: $font-headline;
    margin: $space-quad 0;
  }

  h2 {
    font-size: $font-xl;
    font-weight: bold;
    margin: $space 0 $space-double;
  }

  .profile-photo {
    display: block;
    margin: $space-quad auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    width: 256px;
    height: 256px;
  }

  .content-line {
    width: 95%;
    display: block;
    font-size: $font-xl;
    line-height: $font-xxl;
    margin: 0 auto $space-quad;

    strong {
      font-weight: bold;
      font-size: $font-xxl;
      margin: 0 $space 0 0;
    }

    ul {
      list-style-type: square;
      margin-left: $space * 3;

      li {
        margin: $space-half 0;
      }
    }

    a {
      text-decoration: none;
      color: $col-primary;

      &:hover {
        text-decoration: underline;
        color: $col-primary-shade;
      }
    }
  }

  .close {
    float: left;
    position: fixed;
    margin: 0 0 0 10px;
    font-size: $font-headline;
    color: $col-primary;
    text-decoration: none;
    background: transparent;
    transition: font-size 100ms;

    &:hover {
      color: $col-primary-shade;
      font-size: $font-headline + 5;
    }
  }

  .col {
    margin-top: $space-double;

    &.photo {
      float: left;
      width: 340px;
    }

    &.info {
      overflow: hidden;
      width: auto;
    }
  }
}


#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 99;
  @include opacity-toggle;
}

@include breakpoint(mobile) {
  .wall-details {
    .close {
      display: block;
      position: static;
      float: none;
      transition: none;

      &:hover {
        font-size: $font-headline;
      }
    }

    h1 {
      margin: $space 0 $space-double;
      font-size: $font-xl;
    }

    .profile-photo {
      margin-top: $space-double;
      margin-bottom: $space-double;
      width: 128px;
      height: 128px;
    }
  }
}
