$_wall_offset: 20px;
$_detail_offset_x: 10%;
$_detail_offset_y: 20%;

.wall {
  background: #fff;
  position: absolute;
  top: $_wall_offset;
  left: $_wall_offset;
  right: $_wall_offset;
  bottom: $_wall_offset;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: auto;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.wall-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.wall-profiles {
  list-style-type: none;
}

.wall-profile-entry {
  float: left;
  width: 128px;
  height: 128px;
  opacity: 0.7;
  border: 1px solid $col-white;
  transition: opacity 0.5s;

  &.active, &:hover {
    opacity: 1;
  }
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 99;

  &.active {
    display: block;
  }
}

.wall-details {
  display: none;
  position: absolute;
  top: $_detail_offset_y;
  bottom: $_detail_offset_y;
  left: $_detail_offset_x;
  right: $_detail_offset_x;
  z-index: 999;
  background: $col-white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  overflow: auto;

  &.active {
    display: block;
  }

  h1 {
    text-align: center;
    font-size: $font-headline;
    margin: $space-quad 0;
  }

  .profile-photo {
    display: block;
    margin: $space-quad auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
  }

  .close {
    position: absolute;
    top: 2px;
    left: 10px;
    font-size: $font-headline;
    color: $col-primary;
    text-decoration: none;
    background: transparent;
    transition: font-size 100ms;

    &:hover {
      color: $col-primary-shade;
      font-size: $font-headline + 5;
    }
  }
}
