extends layout

block content
  div
    ul.walls
      each wall in walls
        li
          a(href='/walls/'+ wall._id) #{wall._id}

    form(method='post', action='/walls')
      input(type='submit', value='Create a new wall')
