extends layout

block js
  script(src='/components/angular/angular.min.js')
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io();

block content
  div(ng-app='xingwall' xingwall)
    ul.walls
      each wall in walls
        li
          a(href='/walls/'+ wall._id) #{wall._id}

    form(method='post', action='/walls')
      input(type='submit', value='Create a new wall')

block footer_js
  script(src='/js/client.js')
